{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' >
    <title>{% block title %}{% endblock %}</title>
    <style>body {padding-top: 80px;}</style>
</head>
<body>
    <nav class='navbar navbar-expand-md navbar-dark bg-info fixed-top'>
        <a class='navbar-brand' href='{% url "QRer:frontpage" %}'>QRコードで出席登録</a>
        <ul class='navbar-nav'>
            {% if user.is_authenticated %}
                <li class='nav-time'>
                    <span class='navbar-text'>{{ user }} - </span>
                </li>
                <li class='nav-item'>
                    <a href='{% url "QRer:logout" %}' class='logout nav-link'>ログアウト</a>
                </li>
            {% else %}
                <a href='{% url "QRer:login" %}' class='login nav-link'>ログインはこちら</a>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div> 
</body>
</html>