{% extends "base.html" %}

{% block title %}
こんにちは
{% endblock title %}

{% block content %}
<h2>専用QRコードを生成 (通常用)</h2>
<p> {{ message }}</p>
<p>学籍番号を半角数字で入力し、生成するボタンを押してください</p>

<form action="" method="post">
    {% csrf_token %}
    
        <div class="row justify-content-center">
    
    <input type="text" class="form-control" name="p1" id="msg" value="{{ p1 }}" style="width: 250px;" placeholder="例：20180300" >
    <input type="submit" class="btn btn-secondary" name="button" id="button" value="生成する">
 
</div>

</form>
<center>
<p><font color="red">{{ error }}</font></p>
<img src="{{ p2 }}" alt="">
<p>{{ p3 }}</p>
</center>



{% endblock content %}