{% extends "base.html" %}
{% load static %}

{% block title %}
こんにちは
{% endblock title %}

{% block content %}
<h2>専用QRコードを表示</h2>

<p><font color="red">{{ error }}</font></p>

<center>
{% if not user.is_staff %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" name="type_1" value="通常用" class="btn btn-outline-info btn-lg w-100"></p>
    <p><input type="submit" name="type_2" value="例外用" class="btn btn-outline-info btn-lg w-100"></p>
</form>
{% endif %}


    <img src="{{ url }}" alt="">
    <p>{{ p4 }} {{ p3 }}</p>
    <div>
        <span id="time_left"></span>
    </div>
 
<script src="{{ p5 }}"></script>
</center>


{% endblock content %}